<main>
    <h2>Calculadora</h2>

        <div class="fondo1">
            <div class="texto">
                <input type="text" id="resultado" placeholder="0000000000000000">
            </div>

            <div class="fondo2">
                <div>
                    <input type="button" value="1" id="bt1">
                </div>

                <div>
                    <input type="button" value="2" id="bt2">
                </div>

                <div>
                    <input type="button" value="3" id="bt3">
                </div>

                <div>
                    <input type="button" value="+" id="bt+">
                </div>

                <div>
                    <input type="button" value="4" id="bt4">
                </div>

                <div>
                    <input type="button" value="5" id="bt5">
                </div>

                <div>
                    <input type="button" value="6" id="bt6">
                </div>

                <div>
                    <input type="button" value="-" id="bt-">
                </div>

                <div>
                    <input type="button" value="7" id="bt7">
                </div>

                <div>
                    <input type="button" value="8" id="bt8">
                </div>
                <div>
                    <input type="button" value="9" id="bt9">
                </div>
                <div>
                    <input type="button" value="*" id="btx">
                </div>
                <div>
                    <input type="button" value="C" id="btC">
                </div>
                <div>
                    <input type="button" value="0" id="bt0">
                </div>
                <div>
                    <input type="button" value="=" id="bt=">
                </div>
                <div>
                    <input type="button" value="/" id="bt/">
                </div>

            </div>

        </div>
</main>